.DS_Store
.vscode
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
PDD/*.run.xml
PDD/*.bcf
PDD/*.bbl-SAVE-ERROR
PDD/*.bcf-SAVE-ERROR
PDD/*.wc
Dissertation/*.md
IMPLEMENTATION_PLAN.md
.claude
implementation.md
Dissertation.bcf-SAVE-ERROR
Dissertation/Dissertation.bcf-SAVE-ERROR
