[submodule "Repos/veilid"]
	path = Repos/veilid
	url = https://gitlab.com/tech_new/veilid
[submodule "Repos/veilidchat"]
	path = Repos/veilidchat
	url = https://gitlab.com/veilid/veilidchat
[submodule "Repos/dissertationapp"]
	path = Repos/dissertationapp
	url = https://github.com/anker-rasmussen/dissertationapp
[submodule "Repos/MP-SPDZ"]
	path = Repos/MP-SPDZ
	url = https://github.com/data61/MP-SPDZ.git
